:root {
  --basic-bgc: #FFFFFF;
  --dark-bgc: #2F303A;
  --second-bgc: #F5F4FA;
  --text-color: #212121;
  --second-text-color: #757575;
  --text-color-light: #FFFFFF;
  --color-button: #2196F3;
  --color-accent:#2196F3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  color: var(--text-color);
  background-color: var(--basic-bgc);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotateX(0);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: rotateX(90deg);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--color-button);
}

.is-hidden {
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--color-accent);
}

.modal-input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
}
.modal-input:hover + .input-icon, .modal-input:focus + .input-icon {
  fill: var(--color-accent);
}

.user-comment {
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  height: 120px;
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:hover, .user-comment:focus {
  border-color: var(--color-accent);
}

.label-accept {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.label-accept::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8px;
}
.input-accept:checked + .label-accept::before {
  background-color: var(--color-accent);
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.input-accept:focus + .label-accept::before {
  border-color: var(--color-accent);
}

.accept-link {
  color: var(--color-accent);
}

.accept-box {
  margin-bottom: 30px;
}

.btn-submit {
  color: var(--text-color-light);
  background-color: var(--color-button);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: solid 1px #ECECEC;
}
.header .container {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-right: 94px;
}

.accent {
  color: var(--color-accent);
}

.nav-list {
  display: flex;
}

.nav-link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: var(--color-accent);
}

.nav-item {
  position: relative;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.current::after {
  content: "";
  display: block;
  color: var(--color-accent);
  height: 4px;
  width: 100%;
  background: var(--color-accent);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -32px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}

.contacts-item:first-child {
  margin-right: 30px;
}

.contacts-email, .contacts-tel {
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  fill: var(--second-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts-icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.contacts-email:hover, .contacts-email:focus {
  color: var(--color-accent);
}

.contacts-email:hover .contacts-icon-email,
.contacts-email:focus .contacts-icon-email {
  fill: currentColor;
}

.contacts-tel:hover, .contacts-tel:focus {
  color: var(--color-accent);
}

.contacts-tel:hover .contacts-icon-tel,
.contacts-tel:focus .contacts-icon-tel {
  fill: currentColor;
}

.hero {
  background-color: var(--dark-bgc);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bgimg.jpg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  background-position: center;
  margin: auto;
}
.hero__title {
  color: var(--text-color-light);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero__button {
  color: var(--text-color-light);
  background-color: var(--color-button);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
}

.advantage {
  padding-top: 94px;
}
.advantage__list {
  display: flex;
}
.advantage__item {
  width: 270px;
}
.advantage__item:not(:last-child) {
  margin-right: 30px;
}
.advantage__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--second-bgc);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.advantage__heading {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
.advantage__text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-antenna::before {
  background-image: url("../images/icon1_antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/icon2_clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/icon3_diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/icon4_astronaut.svg");
}

.foto {
  padding-top: 94px;
  padding-bottom: 94px;
}
.foto__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.foto__list {
  display: flex;
  justify-content: space-between;
}
.foto__item {
  position: relative;
}
.foto__box {
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
.foto__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-light);
}

.team {
  background-color: var(--second-bgc);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.members {
  display: flex;
  margin-left: -30px;
}
.members__card {
  background-color: var(--basic-bgc);
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members__info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.members__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.members__position {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.member-soc-list {
  display: flex;
  justify-content: center;
}
.member-soc-list__link {
  width: 44px;
  height: 44px;
  background-color: var(--basic-bgc);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.member-soc-list__link:hover, .member-soc-list__link:focus {
  background-color: var(--color-accent);
  fill: var(--basic-bgc);
}
.member-soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  color: var(--text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--color-accent);
  border: 1px solid var(--color-accent);
}
.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.footer-logo {
  text-decoration: none;
  color: var(--text-color-light);
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-info {
  margin-right: 70px;
  min-width: 231px;
}

.address {
  color: var(--text-color-light);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--color-accent);
}

.footer-contacts-item {
  margin-top: 9px;
}

.footer-text {
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-soc {
  margin-right: 93px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-color-light);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--color-accent);
  fill: var(--text-color-light);
}

.subscribe-box {
  display: flex;
}

.subscribe-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: block;
  height: 50px;
  width: 358px;
  padding: 15px 16px;
  color: #FFFFFF;
  outline: none;
}
.subscribe-input:focus {
  border-color: var(--color-accent);
}

.subscribe-btn {
  margin-left: 12px;
  color: var(--text-color-light);
  background-color: var(--color-button);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  fill: var(--text-color-light);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}
.subscribe-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon_send.svg);
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn {
  color: var(--text-color);
  background-color: var(--second-bgc);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: var(--text-color-light);
  background-color: var(--color-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -------------------- */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  width: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-text {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.portfolio-top-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-bottom-text {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text-cover {
  color: var(--text-color-light);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  align-self: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio-item:hover .portfolio-text-cover, .portfolio-item:focus .portfolio-text-cover {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */