.advantage {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.advantage-list {
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -30px;
    }
    @media screen and (min-width: 1200px){
        flex-wrap: nowrap;
        margin-bottom: 0;
    }
}

.advantage-heading {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    @media screen and (min-width: 768px){
        text-align-last: left;
    }
}

.advantage-text {
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


.advantage-item:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px){
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.advantage-item {
    width: 100%;
    @media screen and (min-width: 768px){
        width: calc(100% / 2 - 30px);
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 0;
    }
}

.advantage-item::before {
    display: block;
    content: "";
    height: 120px;
    background-color: var(--second-bgc);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}

.icon-antenna::before{
    background-image: url('../images/icon1_antenna.svg');
}

.icon-clock::before{
    background-image: url('../images/icon2_clock.svg');
}

.icon-diagram::before{
    background-image: url('../images/icon3_diagram.svg');
}

.icon-astronaut::before{
    background-image: url('../images/icon4_astronaut.svg');
}

