.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .container {
        overflow-y: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    & .is-hidden{
        opacity: 100%;
        visibility: hidden;
    }
}



.menu-close-btn{
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        fill: var(--color-button);
    }
}

.mob-menu-nav-item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.mob-menu-nav-link{
    color: var(--text-color); 
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: var(--color-accent);
    }
}

.mob-menu-contacts{
    margin-bottom: 64px;
}

.mob-menu-contacts-item:not(:last-child){
    margin-bottom: 32px;
}

.mob-menu-contacts-tel{
    text-decoration: none;
    color: var(--color-accent);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 480px){
        font-size: 24px;
    }
    &:hover, &:focus{
        color: var(--second-text-color);
    }
}

.mob-menu-contacts-email {
    text-decoration: none;
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    fill: var(--second-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: var(--color-accent);
    }
}

.mob-soc-list{
    display: flex;
    @media screen and (max-width: 479px){
        flex-wrap: wrap;
    }
}

.mob-soc-item{
    position: relative;
    &:not(:first-of-type){
        &::before{
            content: "";
            width: 1px;
            height: 22px;
            background-color: rgba(33, 33, 33, 0.2);
            position: absolute;
            left: -10px;
            top: -2px;
            @media screen and (max-width: 380px){
                display: none;
            }
        }
    }
    &:not(:last-child){
        margin-right: 20px;
    }
}

.mob-soc-link{
    color: var(--color-accent);
    &:hover, &:focus{
        color: var(--second-text-color);
    }
}

.no-scroll {
    overflow: hidden;
}

.is-hidden{
    opacity: 0;
    pointer-events: 0;
    visibility: hidden;
}