body {
    font-family: 'Roboto', Tahoma, sans-serif;
    color: var(--text-color);
    background-color: var(--basic-bgc);
}

p, h1, h2, h3, h4, h5,h6 {
    margin: 0;
}

ul, ol {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
    border: none; 
    outline: none;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}